@media (-webkit-min-device-pixel-ratio: 2), not all, (min-resolution: 2dppx)
html:not([data-scale]) .am-list-body {
    border-bottom: none;
}
@media (-webkit-min-device-pixel-ratio: 2), not all, (min-resolution: 2dppx)
html:not([data-scale]) .am-list-body {
    border-top: none;
}
html{
	line-height: 1.15;
}
body {
    background-color: #f5f5f9;
    font-size: 14px;
}
.am-list-body {
    position: relative;
    background-color: #fff;
    border-top: 1PX solid #ddd;
    border-bottom: 1PX solid #ddd;
}
*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (-webkit-min-device-pixel-ratio: 2), not all, (min-resolution: 2dppx)
html:not([data-scale]) .am-list-body::before {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
@media (-webkit-min-device-pixel-ratio: 2), not all, (min-resolution: 2dppx)
html:not([data-scale]) .am-list-body::after {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
html:not([data-scale]) .scrollList-item .am-card-footer::before {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.am-card.am-card-full {
    position: relative;
    border-top: 1PX solid #ddd;
    border-bottom: 1PX solid #ddd;
}
.am-card {
    min-height: 96px;
    padding-bottom: 6px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
}
.scrollList-item {
    padding: 3px;
    border-bottom: 1px solid #ccc;
}
.scrollList-item .am-card-header {
    padding: 9px 15px 5px !important;
}
.am-card-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    padding: 9px 15px;
}
.am-card-header-content {
    -ms-flex: 1 1;
    flex: 1 1;
    text-align: left;
    color: #000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.am-card-header-extra {
    -ms-flex: 1 1;
    flex: 1 1;
    text-align: right;
    font-size: 14px;
    color: #888;
}
.am-card-body {
    position: relative;
    border-top: 1PX solid #ddd;
    padding: 15px 15px 6px;
    font-size: 14px;
    color: #333;
    min-height: 40px;
    -ms-flex: 1 1;
    flex: 1 1;
}
.am-card-body {
    padding:0px 15px!important;
}

.am-flexbox.am-flexbox-align-center {
    -ms-flex-align: center;
    align-items: center;
}
.scrollList-item .am-flexbox {
    min-height: 30px;
    line-height: 30px;
}
.detail-header-flex{
	display: flex;
	position: relative;
	-ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px 0;
}
.detail-header-flex .am-action{
	align-items: center;
}
.detail-header-flex .am-action a{
	color: #f2a11c !important;
}
.am-flexbox {
    text-align: left;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.am-card-header-content{
	font-size: 14px; 
	color: rgb(51, 51, 51);

}
.am-flexbox .am-flexbox-item,.am-card-header-content{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scrollList-item .am-card-footer{
	position: relative;
}
.am-card-footer{
	font-size: 14px;
    color: #888;
    padding: 5px 15px;
    display: -ms-flexbox;
    display: flex;
}
.am-card-footer-content, .am-card-footer-extra{
	flex: 1 1;
}
.am-card-footer-extra{
	text-align: right;
}
.am-flexbox .am-flexbox-item:first-child {
    margin-left: 0;
}
.am-flexbox .am-flexbox-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 1 1;
    flex: 1 1;
    margin-left: 8px;
    min-width: 10px;
}
.font-danger{
	color: red;
	font-size: 12px;
}



.inline-Input{
    width: 57% !important;
    height: 20px !important;
    padding: 0px !important;
    margin-bottom: 0 !important;
}
