
<script type="text/html" id='list_tpl_view'>
	<ul class="mui-table-view">
		<li>
			{{ each list value i}}
			<div class="am-card scrollList-item am-card-full" data-id={{ value.id }}>
				<div class="am-card-header">
					<div class="am-card-header-content">
						<span style="font-size: 18px; color: rgb(51, 51, 51); font-weight: bold;">
						{{ value.drugName}}</span>
					</div>
					<div class="am-card-header-extra">
						<span>{{ value.type }}</span>
					</div>
				</div>
				<div class="am-card-body">
					<div class="am-flexbox am-flexbox-align-center">
						<div class="am-flexbox-item"> 
							单位：<span>{{ value.replanUnit }}</span> 
						</div>
						<div class="am-flexbox-item"> 
							规格：<span>{{ value.spec }}</span> 
						</div>
					</div>
					<div class="am-flexbox am-flexbox-align-center">
						<div class="am-flexbox-item"> 
							数量：<span>{{ value.total }}</span> 
						</div>
						<div class="am-flexbox-item">
						 生产厂家：<span>{{ value.producter }}</span>
						 </div>
					</div>
					{{ if acceptance }}
						{{ if value.editable }}
							<div class="am-flexbox am-flexbox-align-center">
								<div class="am-flexbox-item"> 
									实到数量：<input />
								</div>
								<div class="am-flexbox-item">
								 	生产日期：<input />
								 </div>
							</div>
							<div class="am-flexbox am-flexbox-align-center">
								<div class="am-flexbox-item"> 
									生产批号：<input />
								</div>
								<div class="am-flexbox-item">
								 	有效期至：<input />
								 </div>
							</div>
							<div class="am-flexbox am-flexbox-align-center">
								<div class="am-flexbox-item"> 
									批准文号：<span>{{ value.date }}</span>
								</div>
								
							</div>
						{{ /if }}
					{{ /if }}
				</div>
				<div class="am-card-footer">
					<div class="am-card-footer-content"></div>
					<div class="am-card-footer-extra">
						{{ if acceptance }}
							<button type="button" class="mui-btn mui-btn-blue mui-btn-outlined edit" data-id={{ value.id }} data-index={{ i }}>展开编辑</button>
						{{ /if }}
						<button type="button" class="mui-btn mui-btn-blue mui-btn-outlined moreDetail" data-id={{ value.id }} style="margin: 0 5px;">更多详情</button>
						{{ if acceptance }}
							<button type="button" class="mui-btn mui-btn-blue mui-btn-danger acceptance" data-id={{ value.id }} data-index={{ i }}>确认验收</button>
						{{ /if }}
						
					</div>
				</div>
			</div>
			<div style="background-color: #f5f5f9; height: 6px;">
			</div>
		</li>
		
		{{/each}}
	</ul>
	
</script>